body {
  padding: 0%;
  margin: 0%;
}

nav {
  display: inline-flex;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #5e3a4d;
  position: fixed;
  height: 100%;
  overflow: auto;
  color: aliceblue;
}

nav li {
  align-content: center;
  align-items: center;
}

nav ul li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  align-items: center;
}

nav ul li a.active {
  background-color: #04aa6d;
  color: white;
}

nav ul li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

nav ul li img {
  width: 25%;
  align-content: center;
  text-align: center;
  margin-right: 20%;
}

div {
  margin-left: 25%;
  padding: 1px 16px;
  height: 100%;
}

.main-title {
  text-align: center;
  border: 5px solid black;
  color: #5e3a4d;
  position: relative;
  width: 25%;
  align-items: center;
}

.featured-book {
  position: relative;
  /* display: inline-flex; */
  flex: auto;
  margin-right: 20%;
  margin-top: 10%;
}

.special-section {
  display: inline-flex;
  position: relative;
  /* display: inline-flex; */
  flex: auto;
  margin-right: 20%;
  margin-top: 10%;
}

.bestseller-book img {
  max-width: 120%;
  height: auto;
  position: relative;
}

.featured-book img {
  max-width: 120%;
  height: auto;
  position: relative;
}
